{{!-- receive object from server  --}}

<div class="jumbotron text-center" >
<p> Message: {{message}}</p>
<p> Artist : {{artist}}</p>
<p> Trackname: {{trackname}}</p>
<p> spotifyURL: {{spotifyURL}}</p>
<a href="{{spotifyURL}}">Link to Song</a>
</div>